/* Contenedor principal */
.projects-container {
    text-align: center;
    padding: 50px;
}

/* Estilo para las instrucciones */
.title-instructions {
    font-family: 'Press Start 2P', cursive;
    /* Fuente retro/futurista */
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}

.text-instructions {
    font-family: 'Press Start 2P', cursive;
    /* Fuente retro/futurista */
    font-size: 0.6rem;
    padding-bottom: 20px;
    border-radius: 10px;
    color: white;
}

.start-button {
    font-family: 'Press Start 2P', cursive;
    /* Fuente retro/futurista */
    color: whitesmoke;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.8em;
    font-weight: 500;
    background-color: #d22626;
    cursor: pointer;
    transition: border-color 0.25s;
}

.start-button:hover {
    border-color: rgb(0, 8, 255);
    color: black;
}


/* Contenedor para los proyectos y la nave */
.projects-wrapper {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Estilo para la nave */
.spaceship {
    position: absolute;
    bottom: 10%;
    width: 50px;
    transition: transform 0.2s;
}

.spaceship img {
    width: 100%;
    display: block;
    background-color: transparent;
}

/* Estilo para las balas */
.bullet {
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: orange;
}

/* Estilo para la animación de la nave cuando se vaya */
.fly-away {
    transform: translateY(-100vh);
}

/* Estilo para los contenedores de los proyectos */
.project {
    width: 150px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

/* Estilo para los puntos de color */
.project .target-point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Colores de los puntos de los proyectos */
.project .target-point.color1 {
    background-color: rgba(255, 106, 0, 0.704);
}

.project .target-point.color2 {
    background-color: rgba(255, 255, 0, 0.786);
}

.project .target-point.color3 {
    background-color: rgba(0, 128, 0, 0.73);
}

.project .target-point.color4 {
    background-color: rgba(3, 180, 245, 0.67);
}

/* Estilo para las imágenes de los proyectos */
.project-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Estilo para los botones de los proyectos */
.project-button {
    background-color: #a92c2c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-button:hover {
    background-color: #555;
}

/* Seccion de iconos */
.section-title h2 {
    transition: color 0.6s ease-in-out;
    color: white;
    font-size: 0.8rem;
    /* Ajusta el tamaño de la fuente */
    font-family: 'Press Start 2P', cursive;
    /* Aplica la fuente deseada */
}

.project-icon {
    transition: color 0.6s ease-in-out;
    color: white;
    cursor: pointer;
    font-size: 3.5rem;
    /* color will be set dynamically based on the project.icon value */
}

/* .project-icon:hover {
    color: rgba(144, 34, 1, 0.608);
} */

/* Seccion Instrucciones  */

.instructions-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.instructions-content {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.instructions-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', cursive;
}

.instructions-text {
    font-size: 0.8rem;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;

}